{{- $profile := .Site.Params.home.profile -}}
<div class="profile">
    {{- $avatar := $profile.avatarURL -}}
    {{- with $profile.gravatarEmail -}}
        {{- $avatar = md5 . | printf "https://www.gravatar.com/avatar/%v?s=240&d=mp" -}}
    {{- end -}}
    {{- if $avatar -}}
        <div class="home-avatar">
            {{- $menus := $.Site.Menus.main | default slice -}}
            {{- with index $menus 0 -}}
                {{- $url := .URL | relLangURL -}}
                {{- with .Page -}}
                    {{- $url = .RelPermalink -}}
                {{- end -}}
                <a href="/about" title="About Me & This Blog">
                    {{- dict "Src" $avatar | partial "plugin/image.html" -}}
                </a>
            {{- else -}}
                {{- dict "Src" $avatar | partial "plugin/image.html" -}}
            {{- end -}}
        </div>
    {{- end -}}
</div>
