@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1200px) {
  .page {
    width: 80%;
  }

  #header-desktop .header-wrapper {
    padding-right: 1rem;
  }

  .search-dropdown.desktop {
    right: 1rem;
  }

  .profile{
    margin-right:1rem;
  }
}

@media only screen and (max-width: 1070px) {
  #header-desktop .header-wrapper {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 1045px) {
  #header-desktop .header-wrapper .header-title{font-size:1.4rem}
  #header-mobile .header-container .header-wrapper .header-title{font-size:1.4rem}
}

@media only screen and (max-width: 960px) {
  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page {
    width: 80%;
  }

  .container > .profile{
    display:none;
  }

  .toc{
    max-width:none
  }
}

@media only screen and (max-width: 970px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }
  #header-mobile .header-container .header-wrapper .header-title{
    max-width:none
  }
}

@media only screen and (max-width: 680px) {
  #header-mobile .header-container .header-wrapper .header-title{
    font-size:1.25rem
  }

  .wrapper main .container {
    padding-top: 0;
  }

  .page {
    width: 100%;

    [header-mobile] & {
      padding-top: $header-height;
    }

    [header-mobile=normal] & {
      padding-top: 0;
    }

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 595px) {
  .leader-text{display:none;}
}
