// ==============================
// Variables
// ==============================

$callout-background-color: #f1f1ef !default;
$callout-background-color-dark: #252627 !default;

$default-spacing: 0.6rem;
