// ==============================
// Custom style
// 自定义样式
// ==============================

.callout {
  background-color: $callout-background-color;
  padding: 1.5em 1.25em;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  [theme=dark] & {
    background-color: $callout-background-color-dark;
  }
}

.callout-inner {
  margin-left: 1em;
}

@media (min-width: 768px) {
  #content > .callout:first-child {
    margin-bottom: 2rem
  }
}

@media (max-width: 767px) {
  .callout {
  padding: 1.5em 0.75em 1.5em 0.6em;
  }
  .callout-inner {
    margin-left: 0.5em;
  }
}

.text-orange, .content a.text-orange{
  color: var(--text-highlight-orange);
  opacity: 1;
  [theme=dark] & {
    color: var(--text-highlight-orange-dark);
  }
}

.text-blue, .content a.text-blue{
  color: var(--text-highlight-blue);
  opacity: 1;
  [theme=dark] & {
    color: var(--text-highlight-blue-dark);
  }
}

.content .tight-bullets ul li{margin-bottom: 0; }

@media print {
  #header-desktop {
    display: none;
  }
  .wrapper main > .container {
    padding-top: 0.5rem;
  }
  #toc-auto {display:none;}

  .profile{margin-right: 0;padding-top:0}

  #content{font-size: 0.85rem; line-height: 1.1rem; margin-right: 0.4rem}
  .single .single-title{margin-top:0}

  footer .footer-container .footer-line{ display: none;}

  body{
    background-position:
    left 10rem bottom 2rem,
    left 1rem bottom 2.5rem,
    right 6rem bottom 0rem,
    right -0.4rem bottom 2rem,
    center bottom;
  }

  .profile .home-subtitle {line-height: 1.1rem; font-size: 0.9rem;}

}