footer {
  width: 100%;
  text-align: center;
  line-height: 1.25rem;
  padding: 2rem 0;
  background-color: var(--text-highlight-orange);
  margin-top: 1rem;
  font-family: var(--code-font-family);

  [theme=dark] &{
    background-color: rgba(255, 127, 80, 0.1);
  }

  .footer-container {
    font-size: .875rem;

    .footer-line {
      width: 100%;

      .icp-br {
        display: none;
      }

      a {
         text-decoration: underline;
      }

    }
  }

  @include blur;
}
